body {
  background: url(assets/background.jpg) ;
  background-size: cover;
  background-attachment:fixed;
  background-color: beige;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  text-align: center;
  color: green;

  
}
.h1{
color: rgb(253,253,253);

}
.p{
  color: rgb(253,253,253);

}


.App{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,10%);

}

.blue{
  color: rgb(0, 57, 102);
}